appliance/initramfs.cpio.gz
appliance/staging/
checkpoint/
output/
diagnostics/
debug_logs/
*.log
vm_serial.log
appliance/ssh_id_ed25519
appliance/ssh_id_ed25519.pub
bin/proxy_core
bin/t9-ca-inject
visibility/ebpf/vmlinux.h
/http_lineage.json
/http_lineage.html
/http_lineage_preview.html
/http_lineage_preview.json
